html {
    height: 100%;
    margin: 0;
  }

  body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #56b3a3;
  }
  
  a {
    text-decoration: none;
  }
  
  a::-moz-focus-inner {
    border: 0;
  }
  
  .button {
    position: relative;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    border-radius: 50%;
  }
  
  .button > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .bg {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.2s linear;
  }
  
  .cancel {
    flex: 1 1 100%;
    margin-top: 1rem;
    text-align: center;
  }
  
  .cancel a {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 5px;
    color: #fff;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2.4;
    font-size: 4em;
    transition: background-color 0.1s linear;
  }
  
  .cancel {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .cancel a:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
    
  .bg::before,
  .bg::after {
    position: absolute;
    top: -4.75rem;
    left: -4.75rem;
    display: block;
    width: 20rem;
    height: 20rem;
    border: 4px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    transform: scale(0.4);
    opacity: 0;
  }
  
  .button:hover .bg {
    background-color: rgba(255, 255, 255, 0.3)
  }
  
  .bg:target {
    animation: push .3s ease-out;
    transition: all .3s linear;
  }
  
  #plus:target {
    background-color: #019c01;
    border: 5px solid #a3f0a3;
    transform: scale(1.1);
    transition: all 0.2s linear;
  }
  
  #minus:target {
    background-color: #ff0000;
    border: 5px solid #ff8b8b;
    transform: scale(1.1);
    transition: all 0.2s linear;
  }
    
  #zero:target {
    background-color: #ffca00;
    border: 5px solid #ffe484;
    transform: scale(1.1);
    transition: all 0.2s linear;
  }
  
  .bg:target::before,
  .bg:target::after {
    animation: wave .3s ease-in-out;
  }
  
  .bg:target::before {
    animation-delay: 0.2s;
  }
  
  .bg:target::after {
    animation-delay: 0.3s;
  }
  
  @keyframes push {
    15% {
      transform: scale(0.75);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3)
    }
    75% {
      transform: scale(1.1);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
    }
    100% {
      transform: scale(1)
    }
  }
  
  @keyframes wave {
    10% {
      opacity: 0.3
    }
    100% {
      transform: scale(1);
      opacity: 0
    }
  }
  
  #wrapper {
    max-width: 300px;
    margin: 120px auto;
    padding: 0px 20px;
  }
  .floatleft {
    float: left;
  }
  [class^="smiley-"] {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .smiley-green {
    background: #a9db7a;
    border: 5px solid #92c563;
    position: relative;
  }
  .smiley-green .left-eye {
    width: 18%;
    height: 18%;
    background: #84b458;
    position: relative;
    top: 29%;
    left: 22%;
    border-radius: 50%;
    float: left;
  }
  .smiley-green .right-eye {
    width: 18%;
    height: 18%;
    border-radius: 50%;
    position: relative;
    background: #84b458;
    top: 29%;
    right: 22%;
    float: right;
  }
  .smiley-green .smile {
    position: absolute;
    top: 67%;
    left: 16.5%;
    width: 70%;
    height: 20%;
    overflow: hidden;
  }
  .smiley-green .smile:after,
  .smiley-green .smile:before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0%;
    border-radius: 50%;
    background: #84b458;
    height: 100%;
    width: 97%;
  }
  .smiley-green .smile:after {
    background: #84b458;
    height: 80%;
    top: -40%;
    left: 0%;
  }
  
  .smiley-yellow {
    background: #eed16a;
    border: 5px solid #dbae51;
    position: relative;
  }
  .smiley-yellow .left-eye {
    width: 18%;
    height: 18%;
    background: #dba652;
    position: relative;
    top: 29%;
    left: 22%;
    border-radius: 50%;
    float: left;
  }
  .smiley-yellow .right-eye {
    width: 18%;
    height: 18%;
    border-radius: 50%;
    position: relative;
    background: #dba652;
    top: 29%;
    right: 22%;
    float: right;
  }
  .smiley-yellow .smile {
    position: absolute;
    top: 67%;
    left: 19%;
    width: 65%;
    height: 14%;
    background: #dba652;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .smiley-red {
    background: #ee9295;
    border: 5px solid #e27378;
    position: relative;
  }
  .smiley-red .left-eye {
    width: 18%;
    height: 18%;
    background: #d96065;
    position: relative;
    top: 29%;
    left: 22%;
    border-radius: 50%;
    float: left;
  }
  .smiley-red .right-eye {
    width: 18%;
    height: 18%;
    border-radius: 50%;
    position: relative;
    background: #d96065;
    top: 29%;
    right: 22%;
    float: right;
  }
  .smiley-red .smile {
    position: absolute;
    top: 57%;
    left: 16.5%;
    width: 70%;
    height: 20%;
    overflow: hidden;
  }
  .smiley-red .smile:after,
  .smiley-red .smile:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    border-radius: 50%;
    background: #d96065;
    height: 100%;
    width: 97%;
  }
  .smiley-red .smile:after {
    background: #d96065;
    height: 80%;
    top: 60%;
    left: 0%;
  }
  
  